*{
    margin: auto;
}
.top{
    background-image: url("./images/tim-marshall-Wa-gS5R58gA-unsplash.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
   
}

