*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: large;
    margin: 0pc;
}
header{
    background-image: url("./imagez/nik-shuliahin-BuNWp1bL0nc-unsplash.jpg");
    background-size: 1600px 600px;
    /* background-position-x: 1200px; */
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-top: 30px;
    margin-top: 5px;
}
h1{
    color: white;
    text-align: center;
    opacity: 0.7;
}
.broke{
    text-align: left;
    font-size: 3.0em;
    position: static;
    padding:120px 50px ;


}
.logo{
    margin-top: -200px;
}
.broke span{
    font-size: 3.7em;
    text-transform: uppercase;
    /* margin-bottom: 100px; */
}
.main-container{
    background-color: rgb(245, 244, 244);
    width: 80%;
}
body{
    display: flex;
    justify-content: center;
}
nav{
    width: 100%;
    margin-top: -40px;
}
nav ul{
    display: inline;
    flex-direction: row;
    float: right;
    margin-top: 15px;
    padding-left: 20px;
}
nav ul li{
    
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
nav a:hover{
    background-color: orange;
    padding: 10px;
    color: white;
    padding: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.ho,.fi,.co{
    border-right: 2px solid rgb(173, 171, 171);
    margin-right: 10px;

}
.home{
    background-color: #e5e5e5;
    height: 50px;
    width: 100%;
}
.more, .create{
    display: flex;
    flex-direction: row;
    background-color: tomatoz;
    display: flex;
    margin: 2% 20% 2% 20%;
    padding: 10px;
    padding-bottom: 25px;
}

h2{
    font-size: 4em;
    text-align: center;
}

p{
    text-align: center;
    padding-top: 5px;
}

hr{
    margin-left: 50px;
    margin-right: 50px;
}
#more{
    margin-right: 80px;
    text-align: center;
    margin-top: 50px;
}
#money{
    padding-top: 25px;
}
.create{
    margin: 2% 20% 2% 20%;
    padding: 10px;
    padding-bottom: 25px;
}

#account{
    margin-right: 80px;
}

#account-button{
    text-decoration: none;
    background-color: none;
}

#account img{
    margin-top: 40px;
}

#money img{
    margin-top: 50px;
}


button{
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(10, 163, 10);
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

button:hover{
    background-color: orange;
}

#finance{
    text-align: center;
    float: right;
    margin-top: 50px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #e5e5e5;
}

.footer-text{
    margin-top: 70px;
}
.link{
    margin-top: 60px;
}
/* roney end */